<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- KeyGen-specific configurations -->
    <application
        android:label="ExtroPOS KeyGen"
        tools:replace="android:label">
        <!-- License key generator app label -->
    </application>
</manifest>
